###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
/.phpunit.cache/
###< phpunit/phpunit ###

###> doctrine/doctrine-bundle ###
/var/data.db
/config/jwt/
###< doctrine/doctrine-bundle ###

###> symfony/asset-mapper ###
/public/assets/
###< symfony/asset-mapper ###

###> symfony/webpack-encore-bundle ###
/node_modules/
/public/build/
npm-debug.log
yarn-error.log
###< symfony/webpack-encore-bundle ###

# IDE
/.idea/
/.vscode/
*.swp

# OS
.DS_Store
Thumbs.db

# PHPUnit
/phpunit.xml

# Misc
*.cache
*.log
